Repository Uniswap/sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Uniswap/Unichain, @Uniswap/protocols, @Uniswap/security

refactor(flashtestations-sdk): align workload ID computation with Sol… (#422)
  sdks/flashtestations-sdk/examples/verifyBlock.ts
  sdks/flashtestations-sdk/src/crypto/hash.ts
  sdks/flashtestations-sdk/src/crypto/workload.ts
  sdks/flashtestations-sdk/src/types/index.ts
  sdks/flashtestations-sdk/src/types/validation.ts
  sdks/flashtestations-sdk/src/verification/service.ts
  sdks/flashtestations-sdk/test/crypto/hash.test.ts
  sdks/flashtestations-sdk/test/crypto/workload.test.ts
  sdks/flashtestations-sdk/test/verification/service.test.ts
Owners: @Uniswap/Unichain

feat(universal-router-sdk): ROUTE-643 update router-sdk version in UR
  sdks/universal-router-sdk/package.json
  yarn.lock
Owners: @Uniswap/protocols

update lock
  yarn.lock
Owners: none

feat(universal-router-sdk): ROUTE-643 update router-sdk version in UR (#423)
  sdks/universal-router-sdk/package.json
  yarn.lock
Owners: @Uniswap/protocols

Notes added by 'git notes add'
  2481f90fd1a893e29728559ddf08fd1b6a3e888a
Owners: none

feat(flashtestations-sdk): add source locator retrieval from BlockBuilderPolicy contract
  sdks/flashtestations-sdk/examples/getFlashtestationTx.ts
  sdks/flashtestations-sdk/examples/verifyBlock.ts
  sdks/flashtestations-sdk/src/rpc/abi.ts
  sdks/flashtestations-sdk/src/rpc/client.ts
  sdks/flashtestations-sdk/src/types/index.ts
  sdks/flashtestations-sdk/src/verification/service.ts
  sdks/flashtestations-sdk/test/rpc/client.test.ts
Owners: @Uniswap/Unichain

fix(router-sdk): add V4Trade type for stETH->wstETH hooked pool swap
  sdks/router-sdk/src/swapRouter.ts
Owners: @Uniswap/protocols

fix(ur-sdk): fix v4_swap command for stETH->wstETH hooked pool swap
  sdks/universal-router-sdk/src/entities/actions/uniswap.ts
Owners: @Uniswap/protocols

feat(flashtestations-sdk): add source locator retrieval from BlockBui… (#424)
  sdks/flashtestations-sdk/examples/getFlashtestationTx.ts
  sdks/flashtestations-sdk/examples/verifyBlock.ts
  sdks/flashtestations-sdk/src/rpc/abi.ts
  sdks/flashtestations-sdk/src/rpc/client.ts
  sdks/flashtestations-sdk/src/types/index.ts
  sdks/flashtestations-sdk/src/verification/service.ts
  sdks/flashtestations-sdk/test/rpc/client.test.ts
Owners: @Uniswap/Unichain

feat(sdk-core): monad add v4 addresses
  sdks/sdk-core/src/addresses.ts
Owners: @Uniswap/protocols

fix lint;
  sdks/sdk-core/src/addresses.ts
Owners: @Uniswap/protocols

feat(sdk-core): monad add v4 addresses (#428)
  sdks/sdk-core/src/addresses.ts
Owners: @Uniswap/protocols

Notes added by 'git notes add'
  625d87dd7656b37377f19876a6443c32781190a5
Owners: none

docs(flashtestations-sdk): prepare SDK for initial public release with comprehensive documentation
  sdks/flashtestations-sdk/.gitignore
  sdks/flashtestations-sdk/README.md
  sdks/flashtestations-sdk/examples/getBlock.ts
  sdks/flashtestations-sdk/examples/getFlashtestationTx.ts
  sdks/flashtestations-sdk/examples/getTransactionReceipt.ts
  sdks/flashtestations-sdk/examples/verifyBlock.ts
  sdks/flashtestations-sdk/package.json
  sdks/flashtestations-sdk/src/index.ts
  sdks/flashtestations-sdk/src/rpc/client.ts
  sdks/flashtestations-sdk/src/types/index.ts
  sdks/flashtestations-sdk/src/verification/service.ts
  sdks/flashtestations-sdk/test/rpc/client.test.ts
  sdks/flashtestations-sdk/test/verification/service.test.ts
Owners: @Uniswap/Unichain

temporarily point to the ur-upgrade-1 branch, fix compilation
  .gitmodules
  sdks/universal-router-sdk/foundry.toml
  sdks/universal-router-sdk/remappings.txt
  sdks/universal-router-sdk/test/forge/interop.json
  sdks/universal-router-sdk/test/forge/utils/DeployRouter.sol
Owners: @Uniswap/protocols

per hop slippage
  package.json
  sdks/router-sdk/package.json
  sdks/universal-router-sdk/TODO.md
  sdks/universal-router-sdk/package.json
  sdks/universal-router-sdk/src/entities/actions/uniswap.ts
  sdks/universal-router-sdk/test/forge/interop.json
  sdks/universal-router-sdk/test/utils/commandParser.test.ts
  sdks/v4-sdk/src/utils/v4BaseActionsParser.ts
  sdks/v4-sdk/src/utils/v4Planner.ts
  yarn.lock
Owners: @Uniswap/protocols

adds BlockDAG awakening chain
  sdks/sdk-core/src/addresses.ts
  sdks/sdk-core/src/chains.ts
  sdks/uniswapx-sdk/src/contracts/ERC1967Proxy.ts
  sdks/uniswapx-sdk/src/contracts/MockSuperstateTokenV4.ts
  sdks/uniswapx-sdk/src/contracts/factories/ERC1967Proxy__factory.ts
  sdks/uniswapx-sdk/src/contracts/factories/MockSuperstateTokenV4__factory.ts
  sdks/uniswapx-sdk/src/contracts/factories/index.ts
  sdks/uniswapx-sdk/src/contracts/index.ts
Owners: @Uniswap/protocols

route signer
  sdks/universal-router-sdk/README.md
  sdks/universal-router-sdk/TODO.md
  sdks/universal-router-sdk/src/index.ts
  sdks/universal-router-sdk/src/swapRouter.ts
  sdks/universal-router-sdk/src/utils/eip712.ts
  sdks/universal-router-sdk/test/unit/signedRoutes.test.ts
Owners: @Uniswap/protocols

chained actions
  sdks/universal-router-sdk/README.md
  sdks/universal-router-sdk/src/entities/actions/across.ts
  sdks/universal-router-sdk/src/entities/actions/index.ts
  sdks/universal-router-sdk/src/swapRouter.ts
  sdks/universal-router-sdk/src/utils/routerCommands.ts
  sdks/universal-router-sdk/test/unit/across.test.ts
Owners: @Uniswap/protocols

docs(flashtestations-sdk): prepare SDK for initial public release wit… (#427)
  sdks/flashtestations-sdk/.gitignore
  sdks/flashtestations-sdk/README.md
  sdks/flashtestations-sdk/examples/getBlock.ts
  sdks/flashtestations-sdk/examples/getFlashtestationTx.ts
  sdks/flashtestations-sdk/examples/getTransactionReceipt.ts
  sdks/flashtestations-sdk/examples/verifyBlock.ts
  sdks/flashtestations-sdk/package.json
  sdks/flashtestations-sdk/src/index.ts
  sdks/flashtestations-sdk/src/rpc/client.ts
  sdks/flashtestations-sdk/src/types/index.ts
  sdks/flashtestations-sdk/src/verification/service.ts
  sdks/flashtestations-sdk/test/rpc/client.test.ts
  sdks/flashtestations-sdk/test/verification/service.test.ts
Owners: @Uniswap/Unichain

feat(smart-wallet-sdk): add Monad chain support
  sdks/smart-wallet-sdk/src/constants.ts
Owners: @Uniswap/protocols

feat(smart-wallet-sdk): add Monad chain support (#431)
  sdks/smart-wallet-sdk/src/constants.ts
Owners: @Uniswap/protocols

Notes added by 'git notes add'
  da04d9c50f8a4ab06fca479b418bf61e3022163f
Owners: none

hybrid order def
  sdks/uniswapx-sdk/src/constants/v4.ts
  sdks/uniswapx-sdk/src/order/v4/HybridOrder.test.ts
  sdks/uniswapx-sdk/src/order/v4/HybridOrder.ts
  sdks/uniswapx-sdk/src/order/v4/hashing.ts
  sdks/uniswapx-sdk/src/order/v4/index.ts
  sdks/uniswapx-sdk/src/order/v4/types.ts
Owners: @Uniswap/protocols

builder
  sdks/uniswapx-sdk/src/builder/HybridOrderBuilder.test.ts
  sdks/uniswapx-sdk/src/builder/HybridOrderBuilder.ts
  sdks/uniswapx-sdk/src/builder/index.ts
  sdks/uniswapx-sdk/src/order/v4/HybridOrder.test.ts
  sdks/uniswapx-sdk/src/order/v4/HybridOrder.ts
  sdks/uniswapx-sdk/src/order/v4/types.ts
Owners: @Uniswap/protocols

swap permission check
  sdks/v4-sdk/src/utils/hook.ts
Owners: @Uniswap/protocols

feat(universal-router-sdk): upgrade CELO UniversalRouterVersion.V2_0 address
  sdks/universal-router-sdk/src/utils/constants.ts
Owners: @Uniswap/protocols

feat(universal-router-sdk): upgrade CELO UniversalRouterVersion.V2_0 address (#434)
  sdks/universal-router-sdk/src/utils/constants.ts
Owners: @Uniswap/protocols

Notes added by 'git notes add'
  60fb2f07c34c2e286a5d17be3ce17d03b67728eb
Owners: none

feat(v4-sdk): Add max hop slippage
  sdks/v4-sdk/src/utils/v4BaseActionsParser.ts
  sdks/v4-sdk/src/utils/v4Planner.ts
Owners: @Uniswap/protocols

Revert "feat(smart-wallet-sdk): add Monad chain support (#431)"
  sdks/smart-wallet-sdk/src/constants.ts
Owners: @Uniswap/protocols

fix(v4-sdk): swap permission check (#433)
  sdks/v4-sdk/src/utils/hook.ts
Owners: @Uniswap/protocols

update tests
  sdks/v4-sdk/src/utils/v4BaseActionsParser.test.ts
  sdks/v4-sdk/src/utils/v4Planner.test.ts
Owners: @Uniswap/protocols

Notes added by 'git notes add'
  825d1b8dc543282ab32af09e3e66f6a9e944cce5
Owners: none

add tests with explicit max hop slippage
  sdks/v4-sdk/src/utils/v4Planner.test.ts
Owners: @Uniswap/protocols

feat(v4-sdk): Add max hop slippage (#437)
  sdks/v4-sdk/src/utils/v4BaseActionsParser.test.ts
  sdks/v4-sdk/src/utils/v4BaseActionsParser.ts
  sdks/v4-sdk/src/utils/v4Planner.test.ts
  sdks/v4-sdk/src/utils/v4Planner.ts
Owners: @Uniswap/protocols

Notes added by 'git notes add'
  1834ce3c29022471b42298f773e880e3349b639d
Owners: none

update dependencies
  sdks/universal-router-sdk/package.json
  yarn.lock
Owners: @Uniswap/protocols

feat(smart-wallet-sdk): revert monad support (#436)
  sdks/smart-wallet-sdk/src/constants.ts
Owners: @Uniswap/protocols

Notes added by 'git notes add'
  f67017e727470c01a8ac9da2e57d1e2f34ec8da2
Owners: none

.github/CODEOWNERS:

sdks/flashtestations-sdk/ @Uniswap/Unichain
sdks/permit2-sdk/ @Uniswap/protocols
sdks/router-sdk/ @Uniswap/protocols
sdks/sdk-core/ @Uniswap/protocols
sdks/smart-wallet-sdk/ @Uniswap/protocols
sdks/tamperproof-transactions/ @Uniswap/security
sdks/uniswapx-sdk/ @Uniswap/protocols
sdks/universal-router-sdk/ @Uniswap/protocols
sdks/v2-sdk/ @Uniswap/protocols
sdks/v3-sdk/ @Uniswap/protocols
sdks/v4-sdk/ @Uniswap/protocols
